<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801282675979-ibc3k84r9cseja5r99giec7e15vpif9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801282675979-ibc3k84r9cseja5r99giec7e15vpif9q</string>
	<key>API_KEY</key>
	<string>AIzaSyB6gKyTmFNml_Euv3-5jfMa2dS-KPKIJzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>801282675979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoeVeerka.RememberMe</string>
	<key>PROJECT_ID</key>
	<string>rememberme-eef6f</string>
	<key>STORAGE_BUCKET</key>
	<string>rememberme-eef6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801282675979:ios:528ec965c93fd5aca37e0e</string>
	<key>DATABASE_URL</key>
	<string>https://rememberme-eef6f.firebaseio.com</string>
</dict>
</plist>